.git
.github
.gitattributes
.gitignore
.dockerignore
app/storage/logs/*
app/storage/views/*
vendor/*
storage/framework/cache/*
storage/oauth-private.key
storage/oauth-public.key
node_modules
.vagrant
.idea
